#if($border_constant)
    border: $border_constant;
#end
#if($border_radius)
    -moz-border-radius: $border_radius;
    -webkit-border-radius: $border_radius;
    border-radius: $border_radius;
#end
#if($border_bottom)
    border-bottom: $border_bottom;
#end
#if($border_top)
    border-top: $border_top;
#end
#if($border_left)
    border-left: $border_left;
#end
#if($border_right)
    border-right: $border_right;
#end
#if ($border-top-left-radius)
        -moz-border-radius-topleft: $border-top-left-radius;
        border-top-left-radius: $border-top-left-radius;
        -webkit-border-top-left-radius: $border-top-left-radius;
#end
#if ($border-top-right-radius)
        -moz-border-radius-topright: $border-top-right-radius;
        border-top-right-radius: $border-top-right-radius;
        -webkit-border-top-right-radius: $border-top-right-radius;
#end
#if ($border-bottom-left-radius)
        -moz-border-radius-bottomleft: $border-bottom-left-radius;
        border-bottom-left-radius: $border-bottom-left-radius;
        -webkit-border-bottom-left-radius: $border-bottom-left-radius;
#end
#if ($border-bottom-right-radius)
        -moz-border-radius-bottomright: $border-bottom-right-radius;
        border-bottom-right-radius: $border-bottom-right-radius;
        -webkit-border-bottom-right-radius: $border-bottom-right-radius;
#end