#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
$s{    
    #if($forking)
        #parse("tpxadvoperamobilecssborderspecific.vm")
    #else
        #parse("tpxadvoperamobilecssborder.vm")
    #end
    #parse("tppalmmojocssfonts.vm")
     #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end    
    #if($background-color)
       #if($rgba == "true")
            background-color : $background-color;
        #else
            background-color : #$background-color;
        #end
    #elseif($bg-grad-split-ms)
        #parse("tpdesktopoperacssbggradient.vm")
    #elseif($background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y;
        #else
            background: url(./images/$background-image) no-repeat;
        #end
    #else
        background: transparent;
    #end
}
