#if($focusSkin)

#else
    #set($li = "." + $skin + "li")
    #set($lia = "." + $skin + "lia")
#end

$lia{
            text-decoration: none;
            padding: 3px 7px;
            margin-right: 3px;
            border: 1px solid gray;
            border-bottom: none;

            #if($background-color)
                #if($rgba == "true")
                    background-color : $background-color;
                #else
                    #set($bc = "#" + $background-color)
                    background-color: $bc;
                #end
            #elseif($bg-grad-split-ms)
                #parse("tpdesktopmozcssbggradient.vm")
            #elseif($background-image)
                #if($repeat && $verticalrepeat)
                    background-image: url(./images/$background-image);
                    background-repeat : repeat;
                #elseif($repeat)
                    background-image: url(./images/$background-image);
                    background-repeat : repeat-x;
                #elseif($verticalrepeat )
                    background-image: url(./images/$background-image);
                    background-repeat : repeat-y;
                #else
                    background-image: url(./images/$background-image);
                    background-repeat : no-repeat;
                #end
            #end

          #if($color)
                #if($rgba_font == "true")
                    color : $color;
                #else
                    color: #$color;
                #end
          #end
		
	#if($forking) 	
	    #parse("tpxadviphonecssborderspecific.vm")
            #if ($border-top-left-style)
                 -moz-border-radius-topleft: ${border-top-left-radius}px;
            #end
            #if ($border-top-right-style)
                -moz-border-radius-topright: ${border-top-right-radius}px;
            #end
            #if ($border-bottom-left-style)
               -moz-border-radius-bottomleft: ${border-bottom-left-radius}px;
            #end
            #if ($border-bottom-right-style)
                -moz-border-radius-bottomright: ${border-bottom-right-radius}px;
            #end 
		 #else
			 #parse("tpdesktopmozcssborder.vm")
		 #end	 
    }


 $li{
        padding: 3px 0;
        margin-left: 0;
        #parse("tppalmmojocssfonts.vm")
        border-bottom: 1px solid gray;
        list-style-type: none;
        text-align: left; /*set to left, center, or right to align the menu as desired*/
		#if($forking)
			 #if ($border-bottom-width)
                            #set($bw = $border-bottom-width + "px")
                            border-bottom-width: $bw;
                            border-bottom-style: solid;
                            #if ($border-bottom-color)
                                 #if($rgba_bottom_border == "true")
                                    border-bottom-color : $border-bottom-color;
                                #else
                                    border-bottom-color : #$border-bottom-color;
                                #end
                            #else
                                border-bottom-color : none;
                            #end
                        #end
		#else
			 #parse("tpdesktopmozcssborder.vm")
                         border-top: none;
                         border-left: none;
                         border-right: none;
		#end

#if($forking)
   #parse("tpxadvmozshadowcss.vm")
#end
    }

#if($focusSkin)
$skin
#else
.$skin
#end
    {
        font-weight: $font-weight;
        margin: 0px;
        padding: 4px;

        #if($background-color)
            #if($rgba == "true")
                background-color : $background-color;
            #else
                 #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
       #elseif($background-gradient)
                background : -moz-linear-gradient(46% 0% 270deg, $topcolor,  $bottomcolor);
       #elseif($background-split)
                background :-moz-linear-gradient(0% 50% 270deg,$topcolor, $bottomcolor,$bottomcolor 0%);
       #elseif($background-horizontal-gradient)
               background : -moz-linear-gradient(0% 0% 0deg, $topcolor, $bottomcolor);
       #elseif($background-horizontal-split)
               background : -moz-linear-gradient(50% 0% 180deg,$topcolor, $bottomcolor,$bottomcolor 0%);
       #elseif($background-image)
                #if($repeat && $verticalrepeat)
                    background-image: url(./images/$background-image);
                    background-repeat : repeat;
                #elseif($repeat)
                    background-image: url(./images/$background-image);
                    background-repeat : repeat-x;
                #elseif($verticalrepeat )
                    background-image: url(./images/$background-image);
                    background-repeat : repeat-y;
                #else
                    background-image: url(./images/$background-image);
                    background-repeat : no-repeat;
                #end
      #end

      #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
      #end

#if($forking)
   #parse("tpxadvmozshadowcss.vm")
#end
    }
