#if($txtshadowoffsetx=="0px" && $txtshadowoffsety=="0px" && $txtshadowblurradius=="0px")
#elseif($txtshadowoffsetx && $txtshadowoffsety && $txtshadowblurradius && $txtshadowcolor)
    #if($rgba_shadow=="true")
        text-shadow: $txtshadowoffsetx $txtshadowoffsety $txtshadowblurradius $txtshadowcolor;
    #else
        text-shadow: $txtshadowoffsetx $txtshadowoffsety $txtshadowblurradius #$txtshadowcolor;
    #end
#end