            background: $bottomcolor url(./images/$background-image) repeat-x;

#if($background-gradient)
   background : -o-linear-gradient(270deg, $topcolor, $bottomcolor);
#elseif($background-split)
   background : -o-linear-gradient(270deg,$topcolor 50%, $bottomcolor 50%);
#elseif($background-horizontal-gradient)
   background : -o-linear-gradient(0deg, $topcolor, $bottomcolor);
#elseif($background-horizontal-split)
   background : -o-linear-gradient(0deg,$topcolor 50%, $bottomcolor 50%);
#elseif($background-ms-gradient)
    background: -o-linear-gradient($background-ms-color);
#end