#set($imgbg="false")
#if($pimgexists=="true")
div[progressindctr="true"][kprogressskin="$skin"]
{
    #if($background-color)
        #if($wtype == "layout")
            background-image: url("./images/$pimgname") !important;
            background-repeat: no-repeat;
        #else
            #if($rgba == "true")
            background: url(./images/$pimgname) no-repeat, -webkit-gradient(linear, 0% 49%, 0% 50%, from($background-color), to($background-color));
            background: url(./images/$pimgname) no-repeat,  -moz-linear-gradient(46% 0% 270deg, $topcolor, $bottomcolor);
            #else
            background: url(./images/$pimgname) no-repeat, -webkit-gradient(linear, 0% 49%, 0% 50%, from(#$background-color), to(#$background-color));
            background: url(./images/$pimgname) no-repeat, background : -moz-linear-gradient(50% 0% 180deg,$topcolor, $bottomcolor,$bottomcolor 0%);
            #end
        #end
    #elseif($background-gradient)
        background : url(./images/$pimgname) no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor));
    #elseif($background-split)
        background : url(./images/$pimgname) no-repeat, -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor));
     #elseif($transparent)
        background-image : url(./images/$pimgname) !important;
        background-repeat: no-repeat;
     #else
        #set($imgbg="true")
        #if($repeatimage=="false")
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) no-repeat;
        #else
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) repeat-x;
        #end

    #end
    #if($imgbg=="true")
        #if($pimgloc=="left")
        background-position: left center,left;
        #elseif($pimgloc=="right")
        background-position: right center,left;
        #elseif($pimgloc=="center")
        background-position: center center,left;
        #end
    #else
        #if($pimgloc=="left")
        background-position: left center;
        #elseif($pimgloc=="right")
        background-position: right center;
        #elseif($pimgloc=="center")
        background-position: center center;
        #end
    #end
}
#end