#set($u = $skin + "ul")
$u
{
    padding: 0px;
}
#if($default == "true")
$skin{
    position: relative;
    margin: 0px;
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0 5px 3px;
    font-size: $font-size;
    font-weight: bold;
    list-style: none;
    background-color: inherit; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }

$skin:first-child {
    top: 0;
    border-top: none;
}

#if($seggroup)
$skin:last-child {
    border-bottom: none;
}

#end

$skin > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    #if(!$noimg)
        background: url(./images/listArrow.png) no-repeat right center;
    #end
}

#else
   $skin {
   position: relative;
    margin: 0px;
    #if($border-color)
        border-bottom: 1px solid #$border-color;
    #else
        border-bottom: 1px solid #E0E0E0;
    #end
    padding: 5px 0 5px 3px;
    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    list-style: none;
    #if($background-image)
        background: url(./images/$background-image) repeat;
    #elseif ($background-color)
        #set($bc = "#" + $background-color)
        background-color: $bc;
    #else
        background-color: inherit;
    #end
    -webkit-border-radius: 5px;
    border-radius: 5px;
    }
$skin:first-child {
    top: 0;
    border-top: none;
}

#if($seggroup)
$skin:last-child {
    border-bottom: none;
}

#end

$skin > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    #if(!$noimg)
        background: url(./images/listArrow.png) no-repeat right center;
    #end
}

#end