#set($s = "." + $skin)
#set($u = $s + "ul")
#set($g = $s + "grp")
#set($l = $s + "lst")
#set($h = $s + "hdr")
#set($pg = $s + "pg")

#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
	
    $s
    {
        ##position: relative;

		#if($forking)
                    #parse("tpxadviphonecssborderspecific.vm")
		#else
                    #parse("tpxadviphonecssborder.vm")
		#end
        #parse("tppalmmojocssfonts.vm")

        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            #parse("tpspagenericbgimage.vm")
        #elseif ($background-color)
            #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
            #parse("tpxadviphonecssbggradient.vm")
        #elseif($transparent)
            background-color: transparent;
        #end   
    }

#if(!$focusSkin)	
#*
    $g
    {
        ##position: relative;
        ##padding : 1px;
        #if($background-image)
            #parse("tpspagenericbgimage.vm")
        #elseif ($background-color)
            #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
           #parse("tpxadviphonecssbggradient.vm")
        #else
            background-color: transparent;
        #end
        ##-webkit-border-radius: 10px;
        ##border-radius: 10px;
        #if($forking)
        #parse("tpxadviphonecssborderspecific.vm")
		#else
        #parse("tpxadviphonecssborder.vm")
		#end
        ##font : normal normal 12px;
        #* font-family: Helvetica;
        font-size : 12px;
        font-weight : normal;
        font-style : normal; *#
#*
        color : #000000;
        #if($forking)
           #parse("tpxadvshadowcss.vm")
        #end
    }
*#
#*
     $pg
    {
       #if($forking)
        #parse("tpxadviphonecssborderspecific.vm")
		#else
        #parse("tpxadviphonecssborder.vm")
		#end
    }
*#
#*
    $u
    {
        padding: 0px;
        ##margin: 2px 2px 2px 2px;
    }
   
*#
#*
#if($border-style == "rc" || $forking )
    $s:first-child
    {
        top: 0;
        border-top: none;
        ##padding: 1px 0px 1px 1px;
		
		#if($forking)
			#if($border-top-left-style)
				-webkit-border-top-left-radius: ${child_border-top-left-radius}px;
			#end
			#if($border-top-right-style)
				-webkit-border-top-right-radius: ${child_border-top-right-radius}px;
			#end
		#elseif($border-style == "rc")
                        -webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;			
		#end
		
    }

    $s:last-child
    {
        border-bottom: none;
        ##padding: 1px 0px 1px 1px;
		
		#if($forking)
			#if ($border-bottom-left-style)
				-webkit-border-bottom-left-radius: ${child_border-bottom-left-radius}px;
			#end
			#if ($border-bottom-right-style)
				-webkit-border-bottom-right-radius: ${child_border-bottom-right-radius}px;
			#end
		#elseif($border-style == "rc")
			-webkit-border-bottom-left-radius: 10px;			
			-webkit-border-bottom-right-radius: 10px;
		#end		
    }
#end
*#
#*
    $s >a
    {
        display: block;
        ##margin: -8px 0 -8px -10px;
        ## Author: D Maruthi Siva krishna
        ## removing default margin and padding from segment skin.
        ## Date 06-July-2011
        ##margin: 1px 0 1px 0px;
        ##padding: 1px 5px 1px 1px;
        ##padding: 8px 32px 8px 10px;
        text-decoration: none;
        color: inherit;
    }

    $h
    {
        margin: 0px;
		#if($forking)
			#if($border-bottom-color)
				#if($rgba_bottom_border == "true")
					  border-bottom-color : $border-bottom-color;
				#else
					  border-bottom-color : #$border-bottom-color;
				#end
			#end
			#if ($border-bottom-width)
				#set($bw = $border-bottom-width + "px")
				border-bottom-width: $bw;
				border-bottom-style: solid;
			#end
		#else
			#if($border-color)
				#if($rgba_border == "true")
					border-bottom :  1px solid $border-color;
				#else
                  border-bottom :  1px solid #$border-color;
				#end
			#else
				border-bottom: 1px solid #E0E0E0;
			#end
		#end

        
        #parse("tppalmmojocssfonts.vm")

        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            #parse("tpspagenericbgimage.vm")
        #elseif ($background-color)
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #elseif($bg-grad-split-ms)
            #parse("tpxadviphonecssbggradient.vm")
        #elseif($transparent)
            background-color: transparent;
        #end
    }
*#
#end 

#* Name:R.Venkat Rajeshwar Rao
   Date:15/06/2011
   Reason: Added this because we have included the skin for progress indicator
*#
#if($pimgexists=="true")
div[progressindicator="true"][progressskin="$skin"]
{
    background-image: url(./images/$pimgname) !important;
    background-repeat: no-repeat;
    ##background-color:  transparent;
     #if ($picolor)
        #if($pirgba == "true")
            background-color : $picolor;
        #else
            #set($bc = "#" + $picolor)
            background-color: $bc;
        #end
    #else
        background-color:  transparent;
    #end
    #if($pimgloc=="left")
    background-position: left center;
    #elseif($pimgloc=="right")
    background-position: right center;
    #elseif($pimgloc=="center")
    background-position: center center;
    #end
}
#end