#if($focusSkin)
    #set($son =  $skin+ "on")
    #set($soff =  $skin+ "off")
#else
    #set($son = "." + $skin+ "on")
    #set($soff = "." + $skin+ "off")
#end

#if($forking)
  
    $skin
        {
            /* switch outer skin */
           #parse("tpxadviphonecssborderspecific.vm")
           #parse("tpxadvshadowcss.vm")
        }

#else
  #if($border-width)
    $skin
    {
      #parse("tpxadviphonecssborder.vm")
    }
  #end
#end

$son{
     -webkit-transition: margin-left 0.2s ease-in-out;
     #parse("tppalmmojocssswitchleftfonts.vm")
     #if($leftcolor)
        #if($rgba_left_font == "true")
            color : $leftcolor;
        #else
            color: #$leftcolor;
        #end
    #end
    #if($left-background-color)
        #if($left_rgba == "true")
            background-color : $left-background-color;
        #else
             #set($bc = "#" + $left-background-color)
             background-color: $bc;
        #end
    #elseif($bg-grad-split-ms)
       ##parse("tpxadviphonecssbggradient.vm")
        #if($left-background-gradient)
           background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($lefttopcolor), to($leftbottomcolor));
           background : -webkit-linear-gradient(top, $lefttopcolor, $leftbottomcolor);
        #elseif($left-background-split)
           background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($lefttopcolor), to($leftbottomcolor));
           background : -webkit-linear-gradient(top, $lefttopcolor 49%, $leftbottomcolor 50%);
        #elseif($left-background-horizontal-gradient)
           background : -webkit-gradient(linear, 0% 0%, 100% 50%, from($lefttopcolor), to($leftbottomcolor));
           background : -webkit-linear-gradient(left,$lefttopcolor 0%, $leftbottomcolor 100%);
        #elseif($left-background-horizontal-split)
           background : -webkit-gradient(linear, 49% 0%, 50% 0%, from($lefttopcolor), to($leftbottomcolor),color-stop(.1,$leftbottomcolor));
           background : -webkit-linear-gradient(left, $lefttopcolor 50%,$leftbottomcolor 50%);
        #elseif($background-ms-gradient)
           background-image : -webkit-gradient(linear,$background-ms-color);
        #end
    #elseif($left-background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$left-background-image) repeat;            
        #elseif($repeat)
            background-image: url(./images/$left-background-image) repeat-x;            
        #elseif($verticalrepeat)
            background-image: url(./images/$left-background-image) repeat-y;           
        #else
            background-image: url(./images/$left-background-image) !important;
            background-repeat : no-repeat;
            background-position: center;
        #end
        #if($enable_bg_size == "true")
                  background-size : 100% 100%;
        #end
    #else
        background: transaprent;
    #end

    #if ($border-top-left-style)
        -webkit-border-top-left-radius: ${border-top-left-radius}px;
    #end
    #if ($border-top-right-style)
        -webkit-border-top-right-radius: ${border-top-right-radius}px;
    #end
    text-align: center;
    margin-left: 0%;
}

$soff{

 -webkit-transition: margin-left 0.2s ease-in-out;
     #parse("tppalmmojocssswitchrightfonts.vm")
     #if($rightcolor)
        #if($rgba_right_font == "true")
            color : $rightcolor;
        #else
            color: #$rightcolor;
        #end
    #end
    #if($right-background-color)
        #if($right_rgba == "true")
            background-color : $right-background-color;
        #else
             #set($bc = "#" + $right-background-color)
             background-color: $bc;
        #end
    #elseif($bg-grad-split-ms)
       ##parse("tpxadviphonecssbggradient.vm")
        #if($right-background-gradient)
           background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($righttopcolor), to($rightbottomcolor));
           background : -webkit-linear-gradient(top, $righttopcolor, $rightbottomcolor);
        #elseif($right-background-split)
           background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($righttopcolor), to($rightbottomcolor));
           background : -webkit-linear-gradient(top, $righttopcolor 49%, $rightbottomcolor 50%);
        #elseif($right-background-horizontal-gradient)
           background : -webkit-gradient(linear, 0% 0%, 100% 50%, from($righttopcolor), to($rightbottomcolor));
           background : -webkit-linear-gradient(left,$righttopcolor 0%, $rightbottomcolor 100%);
        #elseif($right-background-horizontal-split)
           background : -webkit-gradient(linear, 49% 0%, 50% 0%, from($righttopcolor), to($rightbottomcolor),color-stop(.1,$rightbottomcolor));
           background : -webkit-linear-gradient(left, $righttopcolor 50%,$rightbottomcolor 50%);
        #elseif($background-ms-gradient)
           background-image : -webkit-gradient(linear,$background-ms-color);
        #end
    #elseif($right-background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$right-background-image) repeat;            
        #elseif($repeat)
            background-image: url(./images/$right-background-image) repeat-x;            
        #elseif($verticalrepeat)
            background-image: url(./images/$right-background-image) repeat-y;           
        #else
            background-image: url(./images/$right-background-image) !important;
            background-repeat : no-repeat;
            background-position: center;
        #end
    #else
        background: transparent;
    #end

    #if ($border-bottom-left-style)
       -webkit-border-bottom-left-radius: ${border-bottom-left-radius}px;
    #end
    #if ($border-bottom-right-style)
        -webkit-border-bottom-right-radius: ${border-bottom-right-radius}px;
    #end
    text-align: center;
    margin-left: 50%;
}

    