#set($s = "." + $skin)
$s{
    ##parse("tpxadviphonecssborder.vm")
    #if($forking)
        #parse("tpxadvoperamobilecssborderspecific.vm")
    #else
        #parse("tpxadvoperamobilecssborder.vm")
    #end
    #parse("tppalmmojocssfonts.vm")
     #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    #if($background-color)
        #if($rgba == "true")
                background-color : $background-color;
        #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
        #end
    #elseif($background-gradient)
            background: url(./images/$background-image) repeat-x;
            background-color: $bottomcolor;
    #elseif($background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y;
        #else
            background: url(./images/$background-image) no-repeat;
        #end
    #elseif($transparent)
        background: inherit;
    #end
}
#set($c = $s + "cell")

$c{
#if($color)
        #if($rgba_font == "true")
            color : $color !important;
        #else
            color: #$color !important;
        #end
    #end
    #if($background-color)
        #if($rgba == "true")
                background-color : $background-color !important;
        #else
                #set($bc = "#" + $background-color)
                background-color: $bc !important;
        #end
    #elseif($background-gradient)
            background: url(./images/$background-image) repeat-x !important;
            background-color: $bottomcolor !important;
    #elseif($background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat !important;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x !important;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y !important;
        #else
            background: url(./images/$background-image) no-repeat !important;
        #end
    #elseif($transparent)
        background: inherit !important;
    #end
}