html {
     min-height: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;   
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
}

::-webkit-input-placeholder  { 
    max-width:180px;
	
 }
img {
	vertical-align: bottom;
}

body
{
    margin: 0;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: border-box;
}

body > *:not(.chrome, .yui-panel-container yui-dialog shadow)
{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0px;
    width: 100%;
    min-height: 372px;
}

body[orient="landscape"] > *:not(.toolbar)
{
    min-height: 268px;
}

body > *[selected="true"]
{
    display: block;
}

.topleftalign
{
    text-align:left;
    vertical-align: top;
}
.toprightalign
{
    text-align:right;
    vertical-align: top;
}
.topcenteralign
{
    text-align:center;
    vertical-align: top;
}
.middleleftalign
{
    text-align:left;
    vertical-align: middle;
}
.middlerightalign
{
    text-align:right;
    vertical-align: middle;
}
.middlecenteralign
{
    text-align:center;
    vertical-align: middle;
}
.bottomleftalign
{
    text-align:left;
    vertical-align: bottom;
}
.bottomrightalign
{
    text-align:right;
    vertical-align: bottom;
}
.bottomcenteralign
{
    text-align:center;
    vertical-align: bottom;
}
.cntbottomcenteralign
{
    display:flex;
    justify-content: center;
    align-items: flex-end;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: end;
}
.cntbottomleftalign
{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;

    display: -ms-flexbox;
   -ms-flex-pack: start
   -ms-flex-align: end;
}
.cntbottomrightalign
{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;

    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: end;
}
.cntmiddlecenteralign
{
    display:flex;
    justify-content: center;
    align-items: center;

    display: -ms-flexbox;
   -ms-flex-pack: center;
   -ms-flex-align: center;
}
.cntmiddleleftalign
{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    display: -ms-flexbox;
    -ms-flex-pack: start;
    -ms-flex-align: center;
}
.cntmiddlerightalign
{
    display:flex;
    justify-content: flex-end;
    align-items: center;


    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: center;
}
.cnttopcenteralign
{
    display:flex;
    justify-content: center;
    align-items: flex-start;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: start;
}
.cnttopleftalign
{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;

    display: -ms-flexbox;
    -ms-flex-pack: start;
    -ms-flex-align: start;
}
.cnttoprightalign
{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;

    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: start;
}

.kmg2222
{
    margin: 2% 2% 2% 2%;
}
.kbasemargin
{
    margin: 0px;
}
.kbasepadding
{
    padding: 0px;
}
.kheight
{
      min-height: 28px ;
}

.ktable
{
    display:table;
    
}
.krow
{
    display:table-row;
    height: 40%;
}
.kcol
{
    display:table-cell;
}
.kcell
{
    display:table-cell;
}
.cellrborder
{
    border-right: 1px solid red;
}
.voltmxbutton
{
    overflow: hidden;
    border-width: 0;
    height: 35px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: normal;
}
.voltmxcombo
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
}
.voltmxlink
{
    text-decoration: none;
}
.voltmxtextbox
{
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
}

.voltmxform
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    background: #c8c8c8 url(./images/pinstripes.png);
}

.voltmxsegmentul
{
    padding: 0px;
}
.voltmxsegment
{
    position: relative;
    margin: 0px;
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0 5px 3px;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    background-color: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.voltmxsegment:first-child
{
    top: 0;
    border-top: none;
}

.voltmxsegment > a
{
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(./images/listArrow.png) no-repeat right center;
}

.voltmxsegmentgroup
{
    margin: 2px 2px 0px 2px;
    position: relative;
    padding : 0px 0px 0px 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #999999;
    font-size : 12px;
    font-weight : normal;
    font-style : normal;
    color : #000000;
}

.voltmxline
{
   width: 100%;
   border-width: 1px;
   border-top-style: solid;
   border-right-style : none;
   border-left-style : none;
   border-bottom-style : none;
}

##a[selected], a:active
##{
    ##background-color: #194fdb !important;
    ##background-image: url(./images/listArrowSel.png), url(./images/selection.png) !important;
    ##background-repeat: no-repeat, repeat-x;
    ##background-position: right center, left top;
    ##background-image:  url(./images/selection.png) !important;
   ## background-repeat:  repeat-x;
   ## background-position:left top;
    ##color: #FFFFFF !important;
##}

a[selected="progress"]
{
    background-image: url(./images/loading.gif), url(./images/selection.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:  transparent;
}

div[selected="progress"]
{
    background-image: url(./images/loading.gif) !important;
    background-repeat: no-repeat;
    background-color:  transparent;
    z-index: 998;
    width:25px;
    height:20px;
    position: absolute;
}

#footer
{
    position: absolute;
    top: 358px;
    height: 60px;
    background-position: center bottom;
    width:100%;
    background:none;
}

#calendarcontainer {
        padding:10px;
}

#calendarmenu{
    position: relative;
}

#calendarpicker button{
        background: url(../tparty/cal/calendar_icon.gif) center center no-repeat;
        text-align: left;
        text-indent: -10em;
        overflow: hidden;
        white-space: normal;
}

.titlebar {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding:    10px;
    margin: 0px;
    height: 45px;
    width: 100%;
    background: url(./images/toolbar.png) #6d84a2 repeat-x; }

.titlebar > h1 {

    position: absolute;
    overflow: hidden;
   
    margin: 1px 0 0 -10px;
    height: 45px;
    font-size: 20px;
    width:100%;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;        
}

.panelcollapsed .panelcontent { display: none; }

.panelcontent
{
	overflow: hidden;
}

body > .popup, .dCover {
    min-height:0px;
    display:block;
}

.popup{
    position: absolute;
    z-index: 798;
    background:transparent;
}
.popuptitle {
    font-family:sans-serif;
    font-size:12px;
    float:left;
    color:blue;
}
.close{
    float:right;
}

.popupbody{
    float:left;
}
.popuptitleBar{
    float:left;
    border-bottom:1px solid #999999;
    width:100%
}

.cover {
    background:transparent;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    vertical-align:middle;
    width:100%;
}

.defaultulskin{
    padding: 0px;
    margin: 2px 2px 2px 2px;
}

.centerctln{
    text-align:center;
}

.leftctln{
    text-align:left;
}

.rightctln{
    text-align:right;
}

input[type="checkbox"]
{
height:24px !important;
width:24px !important;
-webkit-box-sizing: border-box;
}

input[type="radio"]
{
height:20px !important;
width:20px !important;
-webkit-box-sizing: border-box;
}

input[type="submit"]
{
overflow: hidden;
text-overflow: ellipsis;
white-space: normal; 
}


.previousArrowNav {
    background:url("./images/previous.png") no-repeat scroll 0 0 transparent;
}

.nextArrowNav {
    background:url("./images/next.png") no-repeat scroll 0 0 transparent;
}
.previousArrowNav, .nextArrowNav {
    height:30px;
    width:30px;
    overflow:hidden;
    text-indent:-9999px;
    display:block;
    cursor:pointer;
    margin-left:10px
}
.inactive {
    cursor:default;
    background-position:0 -30px !important;
}


.hide{
      display : none;
}

.kstripcontainer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.kstrip {
    float: left;
    display: inline;
    padding: 0px;
    margin: 0px;
      -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
      -webkit-transform: translate3d(0px, 0px, 0px);
}

/* scroller css */
.form_scroller
{
                position:absolute;
                z-index:1;
                /*
        left:0;
        right: 0;
        */
                width:100%;
                overflow:hidden;
                /*background-color: white;*/
}

.form_scrollee
{
                width: 100%;
}

.header_scroller
{
                position:absolute;
                z-index:1;
                top:0;
                left:0;
                width:100%;
                /*height:45px;*/
}

.footer_scroller
{
    position:absolute;
    z-index:1;
    bottom: 0;
    left:0;
    width:100%;
    /*height:45px;*/
}

.appmenu_scroller
{
    position:absolute;
    z-index:2;
    bottom: 0;
    left:0;
    width:100%;
    /*height:45px;*/
}

@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

.voltmxsearchtextbox {

    border :none;
    -webkit-appearance: none; 
}
#if($isbbnth)

#else
input[type="number"]::-webkit-outer-spin-button { display: none; }
#end

input:not([type='submit'])
{
-webkit-box-sizing: border-box;
}
div.scrollx {
     overflow-y:scroll;
     -webkit-overflow-scrolling: touch;
   }
   div.scrolly {
     overflow-x:scroll;
     -webkit-overflow-scrolling: touch;
   }
            div.scroll {
     overflow:scroll;
       -webkit-overflow-scrolling: touch;
   }
