#if($shadowoffsetx=="0px" && $shadowoffsety=="0px" && $shadowblurradius=="0px")
#elseif($shadowoffsetx && $shadowoffsety && $shadowblurradius && $shadowcolor)
    #if($rgba_shadow=="true")
        -webkit-box-shadow: $shadowoffsetx $shadowoffsety $shadowblurradius $shadowcolor #if($inner=="true") inset #end;
    #else
        -webkit-box-shadow: $shadowoffsetx $shadowoffsety $shadowblurradius #$shadowcolor #if($inner=="true") inset #end;
    #end
#end