    #if($background-gradient)
        background : -moz-linear-gradient(46% 0% 270deg, $topcolor, $bottomcolor)fixed;
        background : -o-linear-gradient(270deg, $topcolor, $bottomcolor)fixed;
        background-image : -ms-linear-gradient(top, $topcolor, $bottomcolor)fixed;
        background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor))fixed;
        background : -webkit-linear-gradient(top, $topcolor, $bottomcolor)fixed;
    #elseif($background-split)
       background : -moz-linear-gradient(0% 50% 270deg,$topcolor, $bottomcolor,$bottomcolor 0%)fixed;
       background : -o-linear-gradient(270deg,$topcolor 50%, $bottomcolor 50%)fixed;
       background-image : -ms-linear-gradient(top, $topcolor 49%, $bottomcolor 50%)fixed;
       background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor))fixed;
       background : -webkit-linear-gradient(top, $topcolor 49%, $bottomcolor 50%)fixed;
    #elseif($background-horizontal-gradient)
       background : -moz-linear-gradient(0% 0% 0deg, $topcolor, $bottomcolor)fixed;
       background : -o-linear-gradient(0deg, $topcolor, $bottomcolor)fixed;
       background-image : -ms-linear-gradient(left,$topcolor 0%, $bottomcolor 100%)fixed; 
       background : -webkit-gradient(linear, 0% 0%, 100% 50%, from($topcolor), to($bottomcolor))fixed;
       background : -webkit-linear-gradient(left,$topcolor 0%, $bottomcolor 100%)fixed;
    #elseif($background-horizontal-split)
       background : -moz-linear-gradient(50% 0% 0deg,$topcolor, $bottomcolor,$bottomcolor 0%)fixed;
       background : -o-linear-gradient(0deg,$topcolor 50%, $bottomcolor 50%)fixed;
       background-image : -ms-linear-gradient(left, $topcolor 50%,$bottomcolor 50%)fixed;
       background : -webkit-gradient(linear, 49% 0%, 50% 0%, from($topcolor), to($bottomcolor),color-stop(.1,$bottomcolor))fixed;
       background : -webkit-linear-gradient(left, $topcolor 50%,$bottomcolor 50%)fixed;  
    #elseif($background-ms-gradient)
        background: linear-gradient($background-ms-color)fixed;
    #end