#if($error == "default")
.errorvoltmxalertdiv
{
    border: 1px;
    border-width: 1px;
    border-style: solid;
    border-color : red;
    background-color : white;
    text-align: center;
}
.errorvoltmxalertlabel{
    font-family: inherit;
    font-style : normal;
    font-size : small;
    background-color : inherit;
    padding : 1px;
    font-weight: bold;
    color: red;
    text-align: center;
    }
#end

#if($info == "default")
.infovoltmxalertdiv
{
    border: 1px;
    border-width: 1px;
    border-style: solid;
    border-color : blue;
    background-color : white;
    text-align: center;
}
.infovoltmxalertlabel{
    font-family: inherit;
    font-style : arial;
    font-size : small;
    background-color : inherit;
    padding : 1px;
    font-weight: bold;
    color: blue;
    text-align: center;
    }
#end

#if($error == "custom")
.errorvoltmxalertdiv
{
    #if ($background-color)
        background-color : #$background-color;
    #else
        background-color : inherit;
    #end
    #set($bw = $border-width + "px")
    border-width : $bw;
    border-style : $border-style;
    border-color : #$border-color;
    text-align: center;
}
.errorvoltmxalertlabel{
    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    background-color : inherit;
    padding : 1px;
    font-weight: bold;
    text-align: center;
    }
#end


#if($info == "custom")
.infovoltmxalertdiv
{
    #if ($background-color)
        background-color : #$background-color;
    #else
        background-color : inherit;
    #end
    #set($bw = $border-width + "px")
    border-width : $bw;
    border-style : $border-style;
    border-color : #$border-color;
    text-align: center;
}
.infovoltmxalertlabel{
   font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    background-color : inherit;
    padding : 1px;
    text-align: center;
    }
#end

#if($confirm == "custom")
$skin {
    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    round : false;
    padding : 1px;
    #if($background-color)
        background: #$background-color;
    #else
        background: white;
    #end
    #set($bw = $border-width + "px")
    border-width : $bw;
    border-style : $border-style;
    border-color : #$border-color;
    text-align: center;
}
#end