.voltmxfw_baseskincss,
.sd63765c86af4a57aea8e99202871e4f,
.sknLoginTextBox0a1c50fef13a24a,
.sknLoginTextBoxPlaceholder0ge75010bf1814c,
.sknLblDescription,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknSectionHeaderLabelSkin,
.sknLoginButton0def7a443090141,
.sknLoginButtonFocus0ff2bfdaba02944,
.slForm,
.slSplashiOS,
.slWatchForm {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.voltmxcustomcss {
    font-size: 16px;

}





.s4423f24357a487aa37952fc19b513f1,
[kw].s4423f24357a487aa37952fc19b513f1-hover,
[kw].s4423f24357a487aa37952fc19b513f1-focus,
[kw].s4423f24357a487aa37952fc19b513f1-active {










    border: 0px solid #313131;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.s8cc395fe328452e8d4b98b478badaab,
[kw].s8cc395fe328452e8d4b98b478badaab-hover,
[kw].s8cc395fe328452e8d4b98b478badaab-focus,
[kw].s8cc395fe328452e8d4b98b478badaab-active {










    border: 0px solid #313131;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sd63765c86af4a57aea8e99202871e4f,
[kw].sd63765c86af4a57aea8e99202871e4f-hover,
[kw].sd63765c86af4a57aea8e99202871e4f-focus,
[kw].sd63765c86af4a57aea8e99202871e4f-active {

















    font: normal 400 16.0px Helvetica;





    color: #313131;












    background-color: rgba(0, 0, 0, 0.0);









    -webkit-appearance: none;



}

















input[kplaceholderskin='sd63765c86af4a57aea8e99202871e4f']::-webkit-input-placeholder {















    font: normal 400 16.0px Helvetica;





    color: #313131;









    background-color: rgba(0, 0, 0, 0.0);






    -webkit-appearance: none;

}


input[kplaceholderskin='sd63765c86af4a57aea8e99202871e4f']::-moz-placeholder {















    font: normal 400 16.0px Helvetica;





    color: #313131;









    background-color: rgba(0, 0, 0, 0.0);






    -webkit-appearance: none;

}


input[kplaceholderskin='sd63765c86af4a57aea8e99202871e4f']:-ms-input-placeholder {















    font: normal 400 16.0px Helvetica;





    color: #313131;









    background-color: rgba(0, 0, 0, 0.0);






    -webkit-appearance: none;

}








.sknLblDescription,
[kw].sknLblDescription-hover,
[kw].sknLblDescription-focus,
[kw].sknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblRowHeading,
[kw].sknLblRowHeading-hover,
[kw].sknLblRowHeading-focus,
[kw].sknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.sknLblStrip,
[kw].sknLblStrip-hover,
[kw].sknLblStrip-focus,
[kw].sknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.sknLblTimeStamp,
[kw].sknLblTimeStamp-hover,
[kw].sknLblTimeStamp-focus,
[kw].sknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLoginButton0def7a443090141,
[kw].sknLoginButton0def7a443090141-hover,
[kw].sknLoginButton0def7a443090141-focus,
[kw].sknLoginButton0def7a443090141-active {










    border: 2px solid rgba(0, 0, 0, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal 400 16.0px Helvetica;





    color: #ffffff;












    background: #4d83f3;











}





















.sknLoginButtonFocus0ff2bfdaba02944,
[kw].sknLoginButtonFocus0ff2bfdaba02944-hover,
[kw].sknLoginButtonFocus0ff2bfdaba02944-focus,
[kw].sknLoginButtonFocus0ff2bfdaba02944-active {










    border: 2px solid rgba(77, 131, 243, 0.0);


















    font: normal 400 16.0px Helvetica;





    color: #ffffff;












    background: rgba(77, 131, 243, 0.6);











}





















.sknLoginFlex0fa872d06104f44,
[kw].sknLoginFlex0fa872d06104f44-hover,
[kw].sknLoginFlex0fa872d06104f44-focus,
[kw].sknLoginFlex0fa872d06104f44-active {

















































    border: 1px solid rgba(0, 0, 0, 0.0);



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;















    color: #000000;












    background-color: rgba(120, 142, 169, 0.0);















}





















.sknLoginTextBox0a1c50fef13a24a,
[kw].sknLoginTextBox0a1c50fef13a24a-hover,
[kw].sknLoginTextBox0a1c50fef13a24a-focus,
[kw].sknLoginTextBox0a1c50fef13a24a-active {

















































    border: 1px solid rgba(0, 0, 0, 0.0);



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;















    font: normal 400 16.0px Helvetica;





    color: #333333;












    background-color: rgba(120, 142, 169, 0.1);













    -webkit-appearance: none;



}

















input[kplaceholderskin='sknLoginTextBox0a1c50fef13a24a']::-webkit-input-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;














    font: normal 400 16.0px Helvetica;





    color: #333333;









    background-color: rgba(120, 142, 169, 0.1);










    -webkit-appearance: none;

}


input[kplaceholderskin='sknLoginTextBox0a1c50fef13a24a']::-moz-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;














    font: normal 400 16.0px Helvetica;





    color: #333333;









    background-color: rgba(120, 142, 169, 0.1);










    -webkit-appearance: none;

}


input[kplaceholderskin='sknLoginTextBox0a1c50fef13a24a']:-ms-input-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;














    font: normal 400 16.0px Helvetica;





    color: #333333;









    background-color: rgba(120, 142, 169, 0.1);










    -webkit-appearance: none;

}








.sknLoginTextBoxPlaceholder0ge75010bf1814c,
[kw].sknLoginTextBoxPlaceholder0ge75010bf1814c-hover,
[kw].sknLoginTextBoxPlaceholder0ge75010bf1814c-focus,
[kw].sknLoginTextBoxPlaceholder0ge75010bf1814c-active {

















































    border: 1px solid rgba(0, 0, 0, 0.0);
























    font: normal 400 16.0px Helvetica;





    color: #788ea4;












    background-color: rgba(120, 142, 169, 0.0);













    -webkit-appearance: none;



}

















input[kplaceholderskin='sknLoginTextBoxPlaceholder0ge75010bf1814c']::-webkit-input-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);























    font: normal 400 16.0px Helvetica;





    color: #788ea4;









    background-color: rgba(120, 142, 169, 0.0);










    -webkit-appearance: none;

}


input[kplaceholderskin='sknLoginTextBoxPlaceholder0ge75010bf1814c']::-moz-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);























    font: normal 400 16.0px Helvetica;





    color: #788ea4;









    background-color: rgba(120, 142, 169, 0.0);










    -webkit-appearance: none;

}


input[kplaceholderskin='sknLoginTextBoxPlaceholder0ge75010bf1814c']:-ms-input-placeholder {
















































    border: 1px solid rgba(0, 0, 0, 0.0);























    font: normal 400 16.0px Helvetica;





    color: #788ea4;









    background-color: rgba(120, 142, 169, 0.0);










    -webkit-appearance: none;

}








.sknSampleRowTemplate,
[kw].sknSampleRowTemplate-hover,
[kw].sknSampleRowTemplate-focus,
[kw].sknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSampleSectionHeaderTemplate,
[kw].sknSampleSectionHeaderTemplate-hover,
[kw].sknSampleSectionHeaderTemplate-focus,
[kw].sknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSectionHeaderLabelSkin,
[kw].sknSectionHeaderLabelSkin-hover,
[kw].sknSectionHeaderLabelSkin-focus,
[kw].sknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.slDynamicNotificationForm,
[kw].slDynamicNotificationForm-hover,
[kw].slDynamicNotificationForm-focus,
[kw].slDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slFbox,
[kw].slFbox-hover,
[kw].slFbox-focus,
[kw].slFbox-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}






















.slForm,
[kw].slForm-hover,
[kw].slForm-focus,
[kw].slForm-active {



























    background-color: #ffffff;











}





















.slImage0e7b87770954443,
[kw='Image2']>img.slImage0e7b87770954443-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}

























.slSplashiOS,
[kw].slSplashiOS-hover,
[kw].slSplashiOS-focus,
[kw].slSplashiOS-active {



























    background-color: #000000;











}





















.slStaticNotificationForm,
[kw].slStaticNotificationForm-hover,
[kw].slStaticNotificationForm-focus,
[kw].slStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slTitleBar,
[kw].slTitleBar-hover,
[kw].slTitleBar-focus,
[kw].slTitleBar-active {

















    font: normal normal 16.0px Helvetica;





    color: #333333;













    background-color: #ffffff;











}






















.slWatchForm,
[kw].slWatchForm-hover,
[kw].slWatchForm-focus,
[kw].slWatchForm-active {



























    background-color: #000000;











}





















.theme_styles,
[kw].theme_styles-hover,
[kw].theme_styles-focus,
[kw].theme_styles-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}