#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
#set($imgbg="false")
$s{
    #if($forking)
        #parse("tpxadviecssborderspecific.vm")
    #else
        #parse("tpxadviecssborder.vm")
    #end
    #parse("tppalmmojocssfonts.vm")
    #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    ##padding: 1px;
    #if($background-color)
        #if($rgba == "true")
             #parse("tpdesktopie8transparency.vm")
        #else
            background-color : #$background-color;
        #end
    #elseif($bg-grad-split-ms)
        #parse("tpxspaiecssbggradient.vm")
    #elseif($background-image)
        #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y;
        #else
            background: url(./images/$background-image) no-repeat;
        #end
        #if($enable_bg_size == "true")
                  background-size : 100% 100%;
        #end
    #end

    #if($rounded)
        #if($repeat)
            border-radius: 6px;
        #else
            border-radius: 10px;
         #end
    #end
}

#if($pimgexists=="true")
#if($__isspa__)
div[progressindicator="true"][progressskin="$skin"]
#else
div[progressindctr="true"][kprogressskin="$skin"]
#end
{
    #if($background-color)
         background-image: url("./images/$pimgname") !important;
         background-repeat: no-repeat;
    #elseif($background-gradient)
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$topcolor', endColorstr='$bottomcolor');
    #elseif($background-split)
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$topcolor', endColorstr='$bottomcolor');
     #elseif($transparent)
        background-image : url(./images/$pimgname) !important;
        background-repeat: no-repeat;
     #else
        #set($imgbg="true")
        #if($repeatimage=="false")
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) no-repeat;
        #else
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) repeat-x;
        #end

    #end
    #if($imgbg=="true")
        #if($pimgloc=="left")
        background-position: left center,left;
        #elseif($pimgloc=="right")
        background-position: right center,left;
        #elseif($pimgloc=="center")
        background-position: center center,left;
        #end
    #else
        #if($pimgloc=="left")
        background-position: left center;
        #elseif($pimgloc=="right")
        background-position: right center;
        #elseif($pimgloc=="center")
        background-position: center center;
        #end
    #end
}
#end