#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end

$s
{
   #if($forking)
        #parse("tpdesktopmozcssborderspecific.vm")
   #else
        #parse("tpdesktopmozcssborder.vm")
   #end
   #parse("tppalmmojocssfonts.vm")
   #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
   #end
    #*overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; *#   
    #if($background-color)
           #if($rgba == "true")
                background : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background: $bc;
            #end               
    #elseif($transparent)
            background:inherit;
            border:none;
    #elseif($bg-grad-split-ms)
        #parse("tpdesktopmozcssbggradient.vm")
    #elseif($background-image)        
		#set($buttonwidget = "true")
        #parse("tpspagenericbgimage.vm")
        background-color:transparent;
    #end

#if($forking)
   #parse("tpxadvmozshadowcss.vm")
   #parse("tpxadvshadowtextcss.vm")
#end
}

##input[selected="progress"][korigskin="$skin"]
#* input[selected="progress"][kprogressskin="$skin"]
{ 
    #if($background-color)
        #set($sk = $skin + ".png")
         background: url(./images/$pimgname) no-repeat, url(./images/$sk) repeat-x;
         background-position: right center;
    #elseif($background-gradient)
        background : url(./images/pimgname) no-repeat, -moz-linear-gradient(46% 0% 270deg, $topcolor, $bottomcolor);
        background-position: right center;
    #elseif($background-split)
        background : url(./images/loading.gif) no-repeat, -moz-linear-gradient(0% 50% 270deg,$topcolor, $bottomcolor,$bottomcolor 0%);
        background-position: right center;
    #else
       background: url(./images/loading.gif) no-repeat, url(./images/$background-image);
       background-position: right center;
    #end
}
*#
#if($pimgexists=="true")
input[selected="progress"][kprogressskin="$skin"]
{
    #if($background-color)
         #if($rgba == "true")
         background: url(./images/$pimgname) no-repeat, -moz-linear-gradient(46% 40% 270deg,$background-color, $background-color);
         #else
         background: url(./images/$pimgname) no-repeat, -moz-linear-gradient(46% 40% 270deg, $background-color, $background-color);
         #end
    #elseif($background-gradient)
        background : url(./images/$pimgname) no-repeat, -moz-linear-gradient(46% 0% 270deg, $topcolor,  $topcolor);
    #elseif($background-split)
        background : url(./images/$pimgname) no-repeat, -moz-linear-gradient(0% 50% 270deg,$topcolor, $bottomcolor,$bottomcolor 0%);
     #elseif($transparent)
        background-image : url(./images/$pimgname) !important;
        background-repeat: no-repeat;
     #else
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image);
    #end

    #if($pimgloc=="left")
    background-position: left center;
    #elseif($pimgloc=="right")
    background-position: right center;
    #elseif($pimgloc=="center")
    background-position: center center;
    #end
}
#end