#if ($border-width)
        #set($bw = $border-width + "px")
        #if ($border-color)
            #if($rgba_border == "true")
                #set($bc = $border-color)
            #else
                #set($bc = "#"+$border-color)
            #end
       #else
            #set($bc = "#000000")
       #end

       border: $bw solid $bc;

       #if ($border-style == "rc")
            -moz-border-radius: 10px;
			border-radius: 10px;
       #end
       #if ($border-style == "custom")
           #set($br= $border-radius + "px")
            -moz-border-radius: $br;
            border-radius: $br;
       #end
#else
    #if($wtype == "TextBox" || $wtype == "Calendar" )
        -moz-appearance: none;
    #end
#end
