#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
$s
{
   #if($forking)
        #parse("tpxadvoperamobilecssborderspecific.vm")
   #else
        #parse("tpxadvoperamobilecssborder.vm")
   #end
   #parse("tppalmmojocssfonts.vm")
   #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
   #end   
    
    #if($background-color)
        #if($rgba == "true")
            background : $background-color;
        #else
            background : #$background-color;
        #end    
      #elseif($bg-grad-split-ms)
            #parse("tpdesktopoperacssbggradient.vm")
     #elseif($background-image)      
        #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y;
        #else
            background: url(./images/$background-image) no-repeat;
            #if($width)
                #set($wd = $width + "px !important;")
                width: $wd
            #end
            #if($height)
                #set($hd = $height + "px !important;")
                height: $hd
            #end
            #if($enable_bg_size == "true")
                      background-size : 100% 100%;
            #end
        #end
        background-color:transparent;
     #end  

#if($forking)
    #parse("tpdesktopoperashadowtextcss.vm")
    #parse("tpdesktopoperashadowcss.vm")
#end
}
#if($pimgexists=="true")
input[selected="progress"][kprogressskin="$skin"]
{
    #if($background-color)
         #if($rgba == "true")
         background: url(./images/$pimgname) no-repeat, $background-color;
         #else
         background: url(./images/$pimgname) no-repeat, #$background-color;
         #end
     #elseif($background-gradient)
         background: url(./images/$pimgname) no-repeat, url(./images/$background-image) repeat-x;
     #elseif($transparent)
        background-image : url(./images/$pimgname) !important;
        background-repeat: no-repeat;
     #else
        #if($repeatimage=="true")
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) repeat-x;
        #else
        background: url(./images/$pimgname) no-repeat, url(./images/$background-image) no-repeat;
        #end
    #end

    #if($pimgloc=="left")
    background-position: left center;
    #elseif($pimgloc=="right")
    background-position: right center;
    #elseif($pimgloc=="center")
    background-position: center center;
    #end
}
#end