#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
#set($tb="tb")
#set($tr="tr")
#set($td="td")
#set($bw = "0px")
#set($lw = "0px")
#set($rw = "0px")
#set($tw = "0px")
#if($forking)
    #if($border-top-width)
	#set($tw = $border-top-width + "px")
    #end
    #if($border-right-width)
	#set($rw = $border-right-width + "px")
    #end
    #if($border-bottom-width)
	#set($bw = $border-bottom-width + "px")
    #end
    #if($border-left-width)
	#set($lw = $border-left-width + "px")
    #end

    $s{
        #parse("tppalmmojocssfonts.vm")
        #*font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style;*#
        ##color : #$color;
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        padding: 0;
        margin: 0;
        #if($background-image)
           background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #if($rgba == "true")
                  #parse("tpdesktopie8transparency.vm")
             #else
                background-color : #$background-color;
             #end
         #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
         #else
              background-color: inherit;
         #end
         border-collapse:collapse;
         #if($rgba_top_border == "true")
              border-top: $tw solid $border-top-color;
         #else
             border-top: $tw solid #$border-top-color;
         #end
         #if($rgba_left_border == "true")
            border-left: $lw solid $border-left-color;
         #else
            border-left: $lw solid #$border-left-color;
         #end
         #if($rgba_right_border == "true")
              border-right: $rw solid $border-top-color;
         #else
             border-right: $rw solid #$border-top-color;
         #end
         #if($rgba_bottom_border == "true")
            border-bottom: $bw solid $border-left-color;
         #else
            border-bottom: $bw solid #$border-left-color;
         #end
            
    }
#else
    #if($border-width)
	#set($bw = $border-width + "px")   
    #end
    $s{
        #parse("tppalmmojocssfonts.vm")
        #*font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style;*#
        ##color : #$color;
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        padding: 0;
        margin: 0;
        #if($background-image)
            #if($repeat)
                background: url(./images/$background-image) repeat-x;
            #else
                background: url(./images/$background-image) no-repeat;
            #end
        #elseif ($background-color)
            #if($rgba == "true")
                  #parse("tpdesktopie8transparency.vm")
             #else
                background-color : #$background-color;
             #end
         #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
         #else
              background-color: inherit;
         #end
         border-collapse:collapse;
         #if($rgba_border == "true")
            border: $bw solid $border-color;
         #else
            border: $bw solid #$border-color;
         #end
           
    }
#end
