#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
#set($u = $s + "ul")
#set($g = $s + "grp")
#set($l = $s + "lst")
#set($h = $s + "hdr")
#set($pg = $s + "pg")
#if($forking)
#*
    $g
    {
        ##position: relative;
        ##padding : 1px;
        #if($background-image)
            #if($repeat)
                background: url(./images/$background-image) repeat-x;
            #else
                background: url(./images/$background-image) no-repeat;
            #end
            #if($enable_bg_size == "true")
                  background-size : 100% 100%;
            #end
        #elseif ($background-color)
            #if($rgba == "true")
                #parse("tpdesktopie8transparency.vm")
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end
        ##border-radius: 10px;
        #parse("tpxadviecssborderspecific.vm")
        ##font : normal normal 12px;
        #* font-family: Helvetica;
        font-size : 12px;
        font-weight : normal;
        font-style : normal; *#
        color : #000000;
    }

    $u
    {
        padding: 0px;
        ##margin: 2px 2px 2px 2px;
    }
    $pg
    {
        #parse("tpxadviecssborderspecific.vm")
    }
*#
    $s
    {
        ##position: relative;
        margin: 0px;

        #parse("tpxadviecssborderspecific.vm")
       
        ##padding: 1px 0px 1px 1px;
        font : $font-style $font-weight $font-size $font-family;
         #*    font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style; *#
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #if($rgba == "true")
                #parse("tpdesktopie8transparency.vm")
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end   
    }
#*
    $s:first-child
    {
        top: 0;
        border-top: none;
        ##padding: 1px 0px 1px 1px;
        #if ($border-top-left-style)
            border-top-left-radius: ${child_border-top-left-radius}px;
        #end
        #if ($border-top-right-style)
            border-top-right-radius: ${child_border-top-right-radius}px;
        #end
    }

    $s:last-child
    {
        border-bottom: none;
        ##padding: 1px 0px 1px 1px;
        #if ($border-bottom-left-style)
            border-bottom-left-radius: ${child_border-bottom-left-radius}px;
        #end
        #if ($border-bottom-right-style)
            border-bottom-right-radius: ${child_border-bottom-right-radius}px;
        #end
    }

    $s >a
    {
        display: block;
        ##margin: -8px 0 -8px -10px;
        ## Author: D Maruthi Siva krishna
        ## removing default margin and padding from segment skin.
        ## Date 06-July-2011
        ##margin: 1px 0 1px 0px;
        ##padding: 1px 5px 1px 1px;
        ##padding: 8px 32px 8px 10px;
        text-decoration: none;
        color: inherit;
    }

    $h
    {
        margin: 0px;
        #if($border-bottom-color)
            #if($rgba_bottom_border == "true")
                  border-bottom-color : $border-bottom-color;
            #else
                  border-bottom-color : #$border-bottom-color;
            #end
        #end
       #if ($border-bottom-width)
            #set($bw = $border-bottom-width + "px")
            border-bottom-width: $bw;
            border-bottom-style: solid;
        #end

        ##padding: 1px 0px 1px 1px;
        font : $font-style $font-weight $font-size $font-family;
         #*    font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style; *#
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end
*#
    }
#else
#*
    $g
    {
        ##position: relative;
        ##padding : 1px;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #if($rgba == "true")
                #parse("tpdesktopie8transparency.vm")
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end
        ##border-radius: 10px;
        ##border: 1px solid #999999;
        #parse("tpxadviecssborder.vm")
        ##font : normal normal 12px;
        #* font-family: Helvetica;
        font-size : 12px;
        font-weight : normal;
        font-style : normal; *#
        color : #000000;
    }

    $u
    {
        padding: 0px;
        ##margin: 2px 2px 2px 2px;
    }

    $pg
    {
        #parse("tpxadviecssborder.vm")
    }
*#
    $s
    {
        ##position: relative;
        margin: 0px;
        #parse("tpxadviecssborder.vm")
        ##padding: 1px 0px 1px 1px;
        font : $font-style $font-weight $font-size $font-family;
         #*    font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style; *#
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #if($rgba == "true")
                #parse("tpdesktopie8transparency.vm")
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end
   
    }
#*
    $s:first-child
    {
        top: 0;
        border-top: none;
        ##padding: 1px 0px 1px 1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    $s:last-child
    {
        border-bottom: none;
        ##padding: 1px 0px 1px 1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    $s >a
    {
        display: block;
        ##margin: -8px 0 -8px -10px;
        ## Author: D Maruthi Siva krishna
        ## removing default margin and padding from segment skin.
        ## Date 06-July-2011
        ##margin: 1px 0 1px 0px;
        ##padding: 1px 5px 1px 1px;
        ##padding: 8px 32px 8px 10px;
        text-decoration: none;
        color: inherit;
    }

    $h
    {
         margin: 0px;
        #if($border-color)
            #if($rgba_border == "true")
                  border-bottom :  1px solid $border-color;
            #else
                  border-bottom :  1px solid #$border-color;
            #end
        #else
            border-bottom: 1px solid #E0E0E0;
        #end
        ##padding: 1px 0px 1px 1px;
        font : $font-style $font-weight $font-size $font-family;
         #*    font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style; *#
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        list-style: none;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #elseif($bg-grad-split-ms)
            #parse("tpxspaiecssbggradient.vm")
        #else
            background-color: transparent;
        #end
    }
*#
#end

#* Name:R.Venkat Rajeshwar Rao
   Date:15/06/2011
   Reason: Added this because we have included the skin for progress indicator
*#
#if($pimgexists=="true")
#if($__isspa__)
div[progressindicator="true"][progressskin="$skin"]
#else
div[selected="progressindtr"][kprogressskin="$skin"]
#end
{
    background-image: url(./images/$pimgname) !important;
    background-repeat: no-repeat;
    background-color:  transparent;
    #if($pimgloc=="left")
    background-position: left center;
    #elseif($pimgloc=="right")
    background-position: right center;
    #elseif($pimgloc=="center")
    background-position: center center;
    #end
}
#end

