#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
$s
{
     
    padding: 0px;
    #parse("tppalmmojocssfonts.vm")
    #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    #if($background-color)
            #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #elseif($bg-grad-split-ms)
            #parse("tpdesktopoperaformcssbggradient.vm")
    #elseif($background-image)
       #if($repeat && $verticalrepeat)
            background: url(./images/$background-image) repeat;
        #elseif($repeat)
            background: url(./images/$background-image) repeat-x;
        #elseif($verticalrepeat)
            background: url(./images/$background-image) repeat-y;
        #else
            background: url(./images/$background-image) no-repeat;
            background-position : center center;
        #end   
        #if($enable_bg_size == "true")
                  background-size : 100% 100%;
        #end
    #end    

    #if($forking)
        #parse("tpxadvoperamobilecssborderspecific.vm")
    #else
        #parse("tpxadvoperamobilecssborder.vm")
    #end
    #if($forking)
        #parse("tpdesktopoperashadowcss.vm")
    #end
}
