#set($sk = "." + $skin)
#set($bjsversn = "./images/"+ $bjsVersion+"/$background-image")
$sk
{
    ##color : #$color;
    #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    #parse("tpxhtmlcssbasicfont.vm")

    #if($forking)
        #parse("tpxhtmlcssbasicborderspecific.vm")
    #else
        #parse("tpxhtmlcssbasicborder.vm")
        #parse("tpxhtmlcssbasicborderline.vm")
    #end

    #if($background-color)
        #if($rgba == "true")
            #parse("tpdesktopie7transparency.vm")
        #else
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #end
    #elseif($background-gradient)
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$topcolor', endColorstr='$bottomcolor');
    #elseif($background-split)
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$topcolor', endColorstr='$bottomcolor');
    #elseif($background-image)
         #if($bjsVersion)
            background-image: url("$bjsversn");
         #else
            background-image: url(./images/$background-image);
         #end
        #if($repeat && $verticalrepeat)
            background-repeat : repeat;
        #elseif($repeat)
            background-repeat : repeat-x;
        #elseif($verticalrepeat)
            background-repeat : repeat-y;
        #else
            background-repeat : no-repeat;
        #end
    #else
        background-color: inherit;
    #end

    #if($text-decoration)
        text-decoration : none;
    #end
    ##padding : 1px;
}

