#if($default == "true")
$skin {
    #if($ispartofbox)
        width: 100%;
    #else
        #if($width)
            width: $width%;
        #else
            width: auto;
        #end
    #end
    margin: 1px;
    padding: 1px;
    font-size: $font-size;
    font-weight: normal;
    float:left, clear;
     #if($align)
        text-align: $align;
    #end
}
#else
 $skin {
    #if($ispartofbox)
        width: 100%;
    #else
        #if($width)
            width: $width%;
        #else
            width: auto;
        #end
    #end
    margin: 1px;
    #if($bottom-padding)
        padding: 1px 1px $bottom-padding 1px;
    #else
        padding: 1px;
    #end
    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    float:left, clear;
    #if($align)
        text-align: $align;
    #end

        }
    #end

