#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end

$s{   
    #parse("tppalmmojocssfonts.vm")
     #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    ##padding: 1px;
    #if($background-color)
        #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #elseif($bg-grad-split-ms)
       #parse("tpxadviphonecssbggradient.vm")
    #elseif($background-image)
        #parse("tpspagenericbgimage.vm")
    #end

#if($forking)
    #parse("tpxadvshadowcss.vm")
    #parse("tpxadvshadowtextcss.vm")
#end
}

#if($forking)
  #if ($border-top-width ||$border-bottom-width ||$border-left-width || $border-right-width )
   div$s 
        {
           #parse("tpxadviphonecssborderspecific.vm")
        }
  #end
#else
  #if($border-width)
    div$s 
    {
      #parse("tpxadviphonecssborder.vm")
    }
  #end
#end
