#if($focusSkin)
    #set($son =  $skin+ "on")
    #set($soff =  $skin+ "off")
    #set($row =  $skin+ "row")
#else
    #set($son = "." + $skin+ "on")
    #set($soff = "." + $skin+ "off")
    #set($row = "." + $skin+ "row")
#end

#if($forking)
 
    $row
        {
           #parse("tpxadvie10cssborderspecific.vm")
             #parse("tpxadvieshadowcss.vm")
        }
 
#else
  #if($border-width)
    $row
    {
      #parse("tpxadvie10cssborder.vm")
    }
  #end
#end
$son{
     -ms-transition: margin-left 0.2s ease-in-out;
     #parse("tppalmmojocssswitchleftfonts.vm")
     #if($leftcolor)
        #if($rgba_left_font == "true")
            color : $leftcolor;
        #else
            color: #$leftcolor;
        #end
    #end
    #if($left-background-color)
        #if($left_rgba == "true")
            background-color : $left-background-color;
        #else
             #set($bc = "#" + $left-background-color)
             background-color: $bc;
        #end
    #elseif($bg-grad-split-ms)
       ##parse("tpxadviphonecssbggradient.vm")
        #if($left-background-gradient)
            background-image : -ms-linear-gradient(top, $lefttopcolor, $leftbottomcolor);
        #elseif($left-background-split)
            background-image : -ms-linear-gradient(top, $lefttopcolor 49%, $leftbottomcolor 50%);
        #elseif($left-background-horizontal-gradient)
            background-image : -ms-linear-gradient(left,$lefttopcolor 0%, $leftbottomcolor 100%); 
        #elseif($left-background-horizontal-split)
            background-image : -ms-linear-gradient(left, $lefttopcolor 50%,$leftbottomcolor 50%);
        #elseif($background-ms-gradient)
           background-image : -ms-linear-gradient($background-ms-color);
        #end
    #elseif($left-background-image)
        #if($repeat && $verticalrepeat)
            background-image: url(./images/$left-background-image);
            background-repeat : repeat;
        #elseif($repeat)
            background-image: url(./images/$left-background-image);
            background-repeat : repeat-x;
        #elseif($verticalrepeat)
            background-image: url(./images/$left-background-image);
            background-repeat : repeat-y;
        #else
            background-image: url(./images/$left-background-image) !important;
            background-repeat : no-repeat;
            background-position: center;
        #end
        #if($enable_bg_size == "true")
                  background-size : 100% 100%;
        #end
    #else
        background: trnasparent;        
    #end

    #if ($border-top-left-style)
        -ms-border-top-left-radius: ${border-top-left-radius}px;
        border-top-left-radius: ${border-top-left-radius}px;
    #end
    #if ($border-top-right-style)
        -ms-border-top-right-radius: ${border-top-right-radius}px;
        border-top-right-radius: ${border-top-right-radius}px;
    #end
    text-align: center;
    margin-left: 0%;
}

$soff{

 -ms-transition: margin-left 0.2s ease-in-out;
     #parse("tppalmmojocssswitchrightfonts.vm")
     #if($rightcolor)
        #if($rgba_right_font == "true")
            color : $rightcolor;
        #else
            color: #$rightcolor;
        #end
    #end
    #if($right-background-color)
        #if($right_rgba == "true")
            background-color : $right-background-color;
        #else
             #set($bc = "#" + $right-background-color)
             background-color: $bc;
        #end
    #elseif($bg-grad-split-ms)       
        #if($left-background-gradient)
            background-image : -ms-linear-gradient(top, $righttopcolor, $rightbottomcolor);
        #elseif($left-background-split)
            background-image : -ms-linear-gradient(top, $righttopcolor 49%, $rightbottomcolor 50%);
        #elseif($left-background-horizontal-gradient)
            background-image : -ms-linear-gradient(left,$righttopcolor 0%, $rightbottomcolor 100%); 
        #elseif($left-background-horizontal-split)
            background-image : -ms-linear-gradient(left, $righttopcolor 50%,$rightbottomcolor 50%);
        #elseif($background-ms-gradient)
           background-image : -webkit-gradient(linear,$background-ms-color);
        #end
    #elseif($right-background-image)
        #if($repeat && $verticalrepeat)
            background-image: url(./images/$right-background-image);
            background-repeat : repeat;
        #elseif($repeat)
            background-image: url(./images/$right-background-image);
            background-repeat : repeat-x;
        #elseif($verticalrepeat)
            background-image: url(./images/$right-background-image);
            background-repeat : repeat-y;
        #else
            background-image: url(./images/$right-background-image) !important;
            background-repeat : no-repeat;
            background-position: center;
        #end
    #else
        background: trnasparent;        
    #end

    #if ($border-bottom-left-style)
       -ms-border-bottom-left-radius: ${border-bottom-left-radius}px;
        border-bottom-left-radius: ${border-bottom-left-radius}px;
    #end
    #if ($border-bottom-right-style)
        -ms-border-bottom-right-radius: ${border-bottom-right-radius}px;
        border-bottom-right-radius: ${border-bottom-right-radius}px;
    #end
    text-align: center;
    margin-left: 50%;
}

    