#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
$s{
    ##parse("tpxadviphonecssborder.vm")
    #if($forking)
        #parse("tpxadviphonecssborderspecific.vm")
    #else
        #parse("tpxadviphonecssborder.vm")
    #end
    #parse("tppalmmojocssfonts.vm")
     #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
    padding: 1px;
    #if($background-color)
       #if($rgba == "true")
            background-color : $background-color;
        #else
            background-color : #$background-color;
        #end
    #elseif($bg-grad-split-ms)
        #parse("tpxspaiecssbggradient.vm")
    #elseif($background-image)
        #if($repeat)
            background: url(./images/$background-image) repeat-x;
        #else
            background: url(./images/$background-image) no-repeat;
        #end
    #end    
    #if($rounded)
         border-radius: 10px;
    #end
}

