#set($s = "." + $skin+"basictab")
$s{
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

$s li{
display: inline;
margin: 0;
}

$s li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
 #* #if($background-image)
        background: url(./images/$background-image) repeat;
    #elseif ($background-color)
       #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #else
        background-color: inherit;
    #end *#
#if($background-color)
        #if($rgba == "true")
            background-color : $background-color;
        #else
             #set($bc = "#" + $background-color)
             background-color: $bc;
        #end
    #elseif($background-gradient)
        background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor));
    #elseif($background-split)
        background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor));
    #elseif($background-image)
        #if($repeat)
            background-image: url(./images/$background-image) repeat;
        #else
            background-image: url(./images/$background-image);
        #end
    #end






  #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
}

$s li a:visited{
color: #2d2b2b;
}

$s li a:hover{
background-color: #DBFF6C;
color: black;
}

$s li a:active{
color: black;
}

$s li.selected a{ /*selected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
 #* #if($background-image)
        background: url(./images/$background-image) repeat;
    #elseif ($background-color)
        #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #else
        background-color: inherit;
    #end *#
#if($background-color)
        #if($rgba == "true")
            background-color : $background-color;
        #else
             #set($bc = "#" + $background-color)
             background-color: $bc;
        #end
    #elseif($background-gradient)
        background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor));
    #elseif($background-split)
        background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor));
    #elseif($background-image)
        #if($repeat)
            background-image: url(./images/$background-image) repeat;
        #else
            background-image: url(./images/$background-image);
        #end
    #end



 #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end
}


.$skin
{
font-weight: normal;
margin: 0px;
padding: 4px;
#* #if($background-image)
        background: url(./images/$background-image) repeat;
    #elseif ($background-color)
        #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #else
        background-color: inherit;
    #end *#

#if($background-color)
        #if($rgba == "true")
            background-color : $background-color;
        #else
             #set($bc = "#" + $background-color)
             background-color: $bc;
        #end
    #elseif($background-gradient)
        background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor));
    #elseif($background-split)
        background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor));
    #elseif($background-image)
        #if($repeat)
            background-image: url(./images/$background-image) repeat;
        #else
            background-image: url(./images/$background-image);
        #end
    #end


}

li[tabinact="$skin"] a
{
position: relative;
top: 1px;
padding-top: 4px;
 #* #if($background-image)
        background: url(./images/$background-image) repeat;
    #elseif ($background-color)
        #if($rgba == "true")
                background-color : $background-color;
            #else
                #set($bc = "#" + $background-color)
                background-color: $bc;
            #end
    #else
        background-color: inherit;
    #end *#
#if($background-color)
        #if($rgba == "true")
            background-color : $background-color;
        #else
             #set($bc = "#" + $background-color)
             background-color: $bc;
        #end
    #elseif($background-gradient)
        background : -webkit-gradient(linear, 0% 0%, 0% 100%, from($topcolor), to($bottomcolor));
    #elseif($background-split)
        background : -webkit-gradient(linear, 0% 49%, 0% 50%, from($topcolor), to($bottomcolor));
    #elseif($background-image)
        #if($repeat)
            background-image: url(./images/$background-image) repeat;
        #else
            background-image: url(./images/$background-image);
        #end
    #end



 #if($color)
        #if($rgba_font == "true")
            color : $color;
        #else
            color: #$color;
        #end
    #end


}