    $skin {
        #if($width)
            width: 100%;
        #else
            width: auto;
        #end
        #if($height)
            #set($h = $height + "px")
            height: $h;
        #else
            height: 1px;
        #end
        #if($color)
            color: #$color;
            background-color: #$color;
            border:#$color;
        #else
            color: black;
            background-color: black;
        #end
    }
