#if($default == "true")
$skin
{
    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    round : false;
    #set($bw = $border-width + "px")
    border-width : $bw;
    border-style : $border-style;
    border-color : #$border-color;
    background-color : white;
    width: 40%;
    padding : 1px;
    #if($align)
        text-align: $align;
    #end
    #parse("tpxhtmlcssmargins.vm")
}
#else
$skin 
{

    font-family: $font-family;
    font-size : $font-size;
    font-weight : $font-weight;
    font-style : $font-style;
    color : #$color;
    round : false;
    #set($bw = $border-width + "px")
    border-width : $bw;
    border-style : $border-style;
    border-color : #$border-color;
    padding : 1px;
        width: 40%;
        #if($background-color)
            background-color : #$background-color;
        #else
            background-color : white;
        #end
       
        #if($align)
            text-align: $align;
        #end
     #parse("tpxhtmlcssmargins.vm")
    }
#end