#if($focusSkin)
	#set($s = $skin)
#else
	#set($s = "." + $skin)
#end
#set($bw = "0px")


#if($forking)
    #if($border-top-width)
	#set($tw = $border-top-width + "px")
    #end
    #if($border-right-width)
	#set($rw = $border-right-width + "px")
    #end
    #if($border-bottom-width)
	#set($bw = $border-bottom-width + "px")
    #end
    #if($border-left-width)
	#set($lw = $border-left-width + "px")
    #end
    $s{
        font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style;
        ##color : #$color;
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        padding: 0;
	margin: 0;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #else
            background-color: inherit;
        #end
        #if($rgba_bottom_border == "true")
            border-bottom: $bw solid $border-bottom-color;
        #else
            border-bottom: $bw solid #$border-bottom-color;
        #end
        
    }

    table$s {
        border-collapse:collapse;
        border-right: 0px;
        #if($rgba_left_border == "true")
            border-left: $lw solid $border-left-color;
        #else
            border-left: $lw solid #$border-left-color;
        #end
        #if($rgba_top_border == "true")
            border-top: $tw solid $border-top-color;
        #else
            border-top: $tw solid #$border-top-color;
        #end

    }

    td$s {
    	border-right: 0px;
	##border-top: 0px;
	#if($rgba_top_border == "true")
            border-top: $tw solid $border-top-color;
        #else
            border-top: $tw solid #$border-top-color;
        #end
	border-bottom: 0px;
	#if($rgba_right_border == "true")
            border-right: $rw solid $border-right-color;
        #else
            border-right: $rw solid #$border-right-color;
        #end
    }

    table$s td a{
        display: block;
        width: 100%;
        text-decoration: none;
    }

    td$s a img{
        border: none;
    }
#else
    #if($border-width)
	#set($bw = $border-width + "px")
    #end
    $s{
        font-family: $font-family;
        font-size : $font-size;
        font-weight : $font-weight;
        font-style : $font-style;
        ##color : #$color;
        #if($color)
            #if($rgba_font == "true")
                color : $color;
            #else
                color: #$color;
            #end
        #end
        padding: 0;
	margin: 0;
        #if($background-image)
            background: url(./images/$background-image) repeat;
        #elseif ($background-color)
            #set($bc = "#" + $background-color)
            background-color: $bc;
        #else
            background-color: inherit;
        #end
         #if($rgba_border == "true")
                border-bottom: $bw solid $border-color;
        #else
                 border-bottom: $bw solid #$border-color;
        #end
   	}

    table$s {
    	border-collapse:collapse;
        #if($rgba_border == "true")
            border-top: $bw solid $border-color;
            border-left: $bw solid $border-color;
        #else
            border-top: $bw solid #$border-color;
            border-left: $bw solid #$border-color;
        #end
	border-right: 0px;
    }

    td$s {
    	border-right: 0px;
	##border-top: 0px;
         #if($rgba_border == "true")
                border-top: $bw solid $border-color;
        #else
                 border-top: $bw solid #$border-color;
        #end
	border-bottom: 0px;
         #if($rgba_border == "true")
                border-right: $bw solid $border-color;
        #else
                 border-right: $bw solid #$border-color;
        #end
    }

    table$s td a{
        display: block;
        width: 100%;
        text-decoration: none;
    }
    td$s a img{
        border: none;
    }
#end
